@model IEnumerable<BTLNHOM11.Models.hoadon>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.khachhang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sanpham)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.soluongban)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tgban)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.khachhang.makh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sanpham.masp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.soluongban)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tgban)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.mahd">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.mahd">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.mahd">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
