@model BTLNHOM11.Models.nhacungcap

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>nhacungcap</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tenncc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tenncc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.diachincc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.diachincc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.sdtncc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.sdtncc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.emailncc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.emailncc)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.mancc">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
