@model IEnumerable<BTLNHOM11.Models.chucvu>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.idcv)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tencv)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.motacv)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.idcv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tencv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.motacv)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.idcv">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.idcv">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.idcv">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
