@model BTLNHOM11.Models.nhaphang

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>nhaphang</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.sanpham)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.sanpham.masp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nhacungcap)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nhacungcap.mancc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.soluongnh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.soluongnh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ngaynh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ngaynh)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.idnh">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
